/Conditionalstatement.ts
/DatatypesDemo.ts
/FirstDemo.js
/FirstDemo.ts
/Functions.ts
/FunctionsPart2.ts
/Loopstatement.ts
/node_modules
/OperatorsDemo.ts
/package-lock.json
/package.json
/VariablesDemo.ts